#search-btn{
    background-color: #f06c4e;
    color: white;
}

.content-div{
    display: flex;
    flex-wrap: wrap;
}
.content-div div{
    margin: 1%;
    width: 30%;
    height: 400px;
    background-color:lightgray;
    border-radius: 10px;
}
#food-info div{
    height: 520px;
}
.content-div h3{
    text-align: center;
}
.content-div h4,h2{
    margin-left: 10px;
}
.content-div img{
    padding: 10px;
    max-width: 250px;
    display: block;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
}
!